.card{
    width: 22%;
    height: 180px;
    margin: 1%;
    border-radius: 1%;
    box-shadow: 0 4px 8px 4px rgba(47, 168, 79, 0.16);
    border-top: 4px solid #0be696;
    border-bottom: 4px solid #0be696;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

h3{
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

p{
    font-size: 15px;
    font-weight: bold;
    opacity: 0.8;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    color: #000000;  
}

.details{
    height: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    padding: 2%;
}